.entire-container {
  background-image: url(./image/bg1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10px;
}


.dotted-line {
  height: 1px;
  border: none;
  border-top: 1px dashed #333;
}

.classification-title {
  font-size: 1em;
  font-weight: bold;
  color: rgb(40, 113, 67);
}