.gap {
    background-color: white;
    margin: 5%;
}

.card-header {
    padding: 0;
    background-color: white;
    justify-content: space-between;
}

body {
    background-color: rgba(0, 0, 0, .03);
}

.card {
    margin: 4%;
}

.update {
    /* margin: 2% 2% -2% 0; */
    color: #007bff;
}

.operate {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.delete>.a {
    color: red;
}

.nameId {
    word-wrap: break-word;
    padding-left: 0;
}