.add {
    text-align: center;
    position: fixed;
    width: 100%;
}

.btn-text {
    padding: 2% 40%;
    border-radius: 50px;
}

.search {
    padding: 3%
}

.search-btn {
    margin-left: 2%;
    color: #007bff;
    border-color: dodgerblue
}

#categories {
    height: calc(90vh - 110px);
    overflow: auto;
}