.head-title {
    text-align: center;
    padding-top: 4%;
    color: #007bff;
    font-size: larger;
}

.rename {
    padding: 2%;
}

.save {
    padding-top: 3%;
    text-align: center;
}

.btn-text {
    padding: 2% 40%;
    border-radius: 50px;
}