.card-order.card {
    max-width: 20rem;
    margin: auto;

}

.card-order .card-header {
    padding: 3%;
    background-color: gainsboro;


}

.OrderHead {
    background-color: rgba(0, 0, 0, .03);
}

.StoreName {
    margin-bottom: 0
}

hr {
    margin-top: 0
}

.orderCount,
.orderSum,
.orderTime,
.date {
    margin-bottom: 0
}

.order-count,
.order-price {
    margin-bottom: .5rem
}

.clientName {
    padding-left: 0;
    margin-bottom: 0
}

.clientTel {
    margin-bottom: 0
}