.cart-logo {
    background-color: #5e8685;
    padding: 8%
}

.shopping-cart {
    position: fixed;
    bottom: 8%;
    right: 5%;
    z-index: 100;

}

.subscript {
    position: fixed;
    bottom: 13%;
    right: 3%;
    z-index: 101;
}

.modal-contain {
    height: 75vh;
    overflow: auto
}