.suit {
    margin-top: 5%;
    margin-left: 4%;
}

.intro {
    font-size: 0.9rem;
    color: grey;
}

h5 {
    font-size: 1rem;
}

.card-title {
    margin-bottom: 1.6rem;
}

.buy {
    background-color: #f1f1f1;
}

.price {
    margin-bottom: 0;
}

.button.action-button {
    background-color: #fafafa;
    line-height: 1;
    padding: 5px 8px;
}

.button-input {
    background-color: #fafafa;
    width: 26px;
    height: 29px;
    text-align: center;
}

.number {
    margin-top: 4%;
}

.operate {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}